
// do not change light_blue unless you change bounding colors of twitter/fb icons
!light_blue = #E8EEFA

!gray = #555
!google_yellow = #F6D466
!light_yellow = #F9EBB8
!link_color = #5884B1

!serif = "Times New Roman, serif"
!sans  = "Helvetica, Arial, sans-serif"

!sidebar_width = 265px

@import sidebar.sass
@import footer.sass

.clear
  :clear both
body
  :margin 0 auto
  :width 960px
  :font-family = !sans
  a, a:visited
    :color = !link_color
body.pins
  :font-size 10pt
  .actions
    :font-size smaller
  #content
    #main
      :padding-left 0
dl.down-payment
  dt
    :font-weight bold
  dd
    :margin
      :top 4px
      :bottom 16px
#content
  :background
    :image url(/images/background.png)
    :repeat repeat-y
    :position center
  :width 960px
  :margin 0 
  :padding-bottom 10px
  #main
    :padding
      :top 110px
      :right 115px
      :bottom 0
      :left = !sidebar_width
    :background
      :image url(/images/header.png)
      :repeat no-repeat
      :position top center
    h1
      :margin-top -30px
      :padding-top 0
    h4
      :margin-bottom 0
      &+p
        :margin-top 0.5em
    p
      :text-align justify
    p, li
      :font
        :size 10pt
      a
        :color = !link_color
        :text-decoration none
        &:hover
          :text-decoration underline
          :color = !link_color * 0.5
    #how-many
      :width 580px
      :text-align right
#sign-out
  :font-size small
  :float right
