- flickr = capture_haml do
  Show us on Flickr
  %span
    Upload your &quot;I'd use Google Fiber&quot;
    pic to show where you would use it. Tag it
    %strong madfiber
= link_to flickr, flickr_url
