- down_payment = capture_haml do
  "Down Payment"
  %br
  %span
    Send a "down payment" to
    %strong Madison College
    &amp; show how we can rally for a cause!
= link_to down_payment, down_payment_path
