- posterous = capture_haml do
  Post vids and pics
  %span
    Add your pictures and videos to the stream.
    Email them to
    %strong post@madfiber.posterous.com
= link_to posterous, posterous_url
