- follow_twitter = capture_haml do
  Follow on Twitter
  %span
    Follow
    %strong GoogNet4Madison
    and tag your tweets
    %strong #madfiber
= link_to follow_twitter, 'http://search.twitter.com/search?q=%23madfiber'
