table {
  border-collapse: collapse; }

td {
  padding: 2px; }

.odd {
  background-color: #ddd; }

.even {
  background-color: #fff; }

tr.far {
  background-color: #f99; }

dl {
  float: left; }

dt {
  clear: both;
  padding: 0 0 5px 10px; }
  dt label {
    padding: 0 5px 0 0; }

dd {
  padding: 0 0 15px 10px;
  margin: 0; }
  dd input[type="text"] {
    padding: 3px 5px 0 5px; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

.actions {
  margin-left: 10px; }
