!!! 5
%html
  %head
    %title Help Bring Google Fiber to Madison! (MadFiber)
    = stylesheet_link_tag 'site'
  %body
    #content
      #sidebar
        = image_tag 'fiber_house.gif'
        #fb
          %a{href: '#'}
            Join the cause on Facebook!
            Help bring Google Fiber to Madison Wisconsin.
        #twitter
          %a{href: '#'}
            Follow us on Twitter!
            %br/
            \#madfiber
        = yield :sidebar
      #main= yield
      .clear
    #footer
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
      var pageTracker = _gat._getTracker("UA-2678233-3");
      pageTracker._trackPageview();
      } catch(err) {}
